<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.mapper.PmsSpuMapper">
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.domain.PmsSpu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="brand" property="brand"/>
        <result column="category_id" property="categoryId"/>
        <result column="detail" property="detail"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>